.conda
.conda/*
__pycache__/
.vscode
OpenPOPCON_outputs/
.venv
POPCON.png
single_point.png
dist/
build/
*.egg-info/
uv.lock
.ipynb_checkpoints/POPCON-checkpoint.png
.ipynb_checkpoints/single_point-checkpoint.png
my_scans/MANTA/gMANTA
my_scans/MANTA/manta_ex.ipynb
my_scans/MANTA/plotsettings.yml
my_scans/MANTA/POPCON_input_example.yaml
my_scans/MANTA/profsMANTA.csv
my_scans/NSF/gNSF
my_scans/NSF/makeNSFprofiles.py
my_scans/NSF/NSF_POPCON.yaml
my_scans/NSF/NSF_run.ipynb
my_scans/NSF/plotsettings.yml
my_scans/NSF/pNSF.csv
my_scans/NSF_NT_CMOD/plotsettings.yml
my_scans/NSF_NT_CMOD/POPCON_input_example.yaml
my_scans/radiative_ARC/ARC_EX copy.ipynb
my_scans/radiative_ARC/plotsettings.yml
my_scans/radiative_ARC/POPCON_input_example.yaml
my_scans/SPARC/plotsettings.yml
my_scans/SPARC/POPCON_input_example.yaml
my_scans/SPARC/SPARC_EX.ipynb
betan.md
NEW_SESSION_PROMPT.md
SESSION_RECAP.md
